body{
   font-family: Arial; 
}

.todo-grid,
.todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
}

.todo-input-grid{
    margin-bottom: 20px;
    align-items: stretch;
}

.name-input,
.due-date-input{
    font-size: 15px;
    padding: 6px;
}

.add-btn{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;

}

.delete-btn{
    background-color: rgb(180, 15, 15);
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 0px;
}